.device-specs {

    border-spacing: 0;
    width: 100%;

}

.device-spec-value {

    font-family: 'Courier New', Courier, monospace;
    
}

.device-specs tr td {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.device-specs tr:last-child td {
    border-bottom: none;
}