:host {
  max-width: 500px;
  margin: 20px auto 0 auto;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

button[type="submit"] {
  width: fit-content;
  margin: 0 auto;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-cta {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 18px;
}

.refresh-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
}