<form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">

  <div>
    <label>
      Available WiFi Networks
    </label>
    <select [disabled]="wiFiNetworks?.length == 0" formControlName="ssid">
      <option>{{ (wiFiNetworks.length === 0) ? "Scanning for WiFi networks..." : "Select WiFi Network"  }}</option>
      <option *ngFor="let wiFiNetwork of wiFiNetworks" [value]="wiFiNetwork.ssid" [disabled]="wiFiNetwork.encryptionType === 0">
        {{ wiFiNetwork.ssid }} ({{ wiFiNetwork.rssi }} dBm)
        {{ wiFiNetwork.encryptionType === 0 ? '🔓 Open' : '🔐 Secure' }}
      </option>
    </select>
    <button type="submit">Submit</button>
  </div>
  

  <label for="password">password: </label>
  <input id="password" type="password" formControlName="password">

</form>