<form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
  
  <!-- WiFi Network Selection -->
  <mat-form-field appearance="fill">
    <mat-label>{{ wiFiNetworks.length == 0 ? "Scanning for WiFi networks..." : "Available WiFi Networks" }}</mat-label>
    <mat-select 
      formControlName="ssid" 
      placeholder="Select WiFi Network">
      <mat-option 
        *ngFor="let wiFiNetwork of wiFiNetworks" 
        [value]="wiFiNetwork.ssid">
        {{ wiFiNetwork.ssid }} ({{ wiFiNetwork.rssi }} dBm)
        @if(wiFiNetwork.encryptionType != 0) {
          <mat-icon matSuffix>lock</mat-icon>
        }
      </mat-option>
    </mat-select>
    @if (credentialsForm.get('ssid')?.hasError('required') && credentialsForm.get('ssid')?.touched) {
      <mat-error>WiFi network is <strong>required</strong></mat-error>
    }
    @if (wiFiNetworks.length === 0) {
      <mat-icon matSuffix class="spinner">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-icon>
    }
  </mat-form-field>

  <!-- Password Input -->
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput id="password" type="password" formControlName="password" [disabled]="wiFiNetworks.length == 0">
    @if (credentialsForm.get('password')?.hasError('required') && credentialsForm.get('password')?.touched) {
      <mat-error>WiFi network password is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <!-- Submit Button -->
  <button mat-raised-button color="primary" type="submit">Submit</button>
  
</form>