<form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>
      {{ wiFiNetworks().length === 0 ?
         ('COMPONENTS.WIFI_CREDENTIALS.SCANNING_FOR_NETWORKS' | translate) :
         ('COMPONENTS.WIFI_CREDENTIALS.AVAILABLE_NETWORKS' | translate) }}
    </mat-label>
    <mat-select formControlName="ssid" placeholder="Select WiFi Network">
      <mat-option *ngFor="let wiFiNetwork of wiFiNetworks()" [value]="wiFiNetwork.ssid" [disabled]="wiFiNetwork.encryptionType === 0">
        {{ wiFiNetwork.ssid }} ({{ wiFiNetwork.rssi }} dBm)
        <mat-icon matSuffix *ngIf="wiFiNetwork.encryptionType !== 0">lock</mat-icon>
        <mat-icon matSuffix *ngIf="wiFiNetwork.encryptionType === 0">lock_open_right</mat-icon>
      </mat-option>
    </mat-select>
    <mat-error *ngIf="hasError('ssid', 'required')">
      {{ 'COMPONENTS.WIFI_CREDENTIALS.NETWORK_IS_REQUIRED' | translate }}
    </mat-error>
    <mat-icon matSuffix class="spinner" *ngIf="wiFiNetworks().length === 0">
      <mat-spinner diameter="20"></mat-spinner>
    </mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'COMMON.LABELS.PASSWORD' | translate }}</mat-label>
    <input matInput id="password" type="password" formControlName="password">
    <mat-error *ngIf="hasError('password', 'required')">
      {{ 'COMPONENTS.WIFI_CREDENTIALS.PASSWORD_IS_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>
  <div class="button-cta">
    <button mat-raised-button color="primary" type="submit" [disabled]="credentialsForm.invalid || !wiFiNetworks().length || isBusy()">
      <span class="button-content">
        {{ 'COMMON.ACTIONS.SUBMIT' | translate }}
        <mat-progress-spinner *ngIf="showSubmitSpinner()" mode="indeterminate" diameter="16"></mat-progress-spinner>
      </span>
    </button>
    <button mat-raised-button color="primary" type="button" [disabled]="isBusy()" (click)="refreshWiFiNetworks()">
      <span class="button-content">
        {{ 'COMPONENTS.WIFI_CREDENTIALS.REFRESH_NETWORKS' | translate }}
        <mat-icon matSuffix *ngIf="!isRefreshingWiFiNetworks()" class="refresh-icon">refresh</mat-icon>
        <mat-progress-spinner *ngIf="isRefreshingWiFiNetworks()" mode="indeterminate" diameter="16"></mat-progress-spinner>
      </span>
    </button>
  </div>
</form>