<mat-card [class.flash]="flashOnChange">
  <mat-card-header class="device-diagnostics">
    <h4>Device diagnostics</h4>
  </mat-card-header>
  <mat-card-content>
    <div class="device-diagnostics--info">
      {{ 'COMPONENTS.DEVICE_DIAGNOSTICS.CALL_TO_ACTION' | translate }}
    </div>
    <table class="device-diagnostics-table">
      <tr>
        <td class="device-spec-label">
          {{ (deviceService.alarm$ | async) ?
            ('COMPONENTS.DEVICE_DIAGNOSTICS.LAST_ALERT_RECEIVED_AT' | translate) :
              ('COMPONENTS.DEVICE_DIAGNOSTICS.NO_ALERTS_RECEIVED' | translate) }}
        </td>
        <td class="device-spec-value">{{ (deviceService.alarm$ | async)?.timestamp | date:'M/d/yy, h:mm:ss a' }}</td>
      </tr>
      <tr [style.visibility]="(deviceService.alarm$| async) ? 'visible' : 'hidden'">
        <td class="device-spec-label">{{ 'COMPONENTS.DEVICE_DIAGNOSTICS.DETECTED_DISTANCE' | translate }}</td>
        <td class="device-spec-value">{{ ((deviceService.alarm$ | async)?.data?.distance ?? 0) | formatDistance }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
