@use '@angular/material' as mat;
@use '../styles.scss' as theme;

.logo {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 104px;
    z-index: 1;
    background-color: var(--md-sys-color-surface);

    img {
        max-width: 268px;
    }
}

.container {
    margin-top: 240px;
}
 
.auth-user-nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #d7e3ff;
    background-color: mat.get-color-from-palette(theme.$angular-electron-primary, 50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-user-email {
    margin: 20px;
}

button {
    margin: 2px 10px 2px auto;
}