.container {
    margin-top: 140px;
}
 
.auth-user-nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: anchor-center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--mat-sys-primary-container);
    box-shadow: var(--mdc-elevated-card-container-elevation, var(--mat-sys-level3));
}

.auth-user-email {
    margin: 20px;
}

button {
    margin: 2px 20px 2px auto;
}

.logo {
    max-width: 280px;
    display: block;
    margin: 0 auto 40px auto;
}










