@if (user$ | async) {

    <nav class="auth-user-nav">
        <button
            mat-stroked-button
            class="auth-user-email"
            [disabled]="isFetchingCompany$ | async"
            [routerLink]="['/profile']"
            routerLinkActive="active-profile-button"
            [routerLinkActiveOptions]="{exact: true}">

            <mat-progress-spinner *ngIf="isFetchingCompany$ | async" class="auth-user-email--spinner" mode="indeterminate" diameter="16"></mat-progress-spinner>

            <mat-icon *ngIf="!(isFetchingCompany$ | async)" matChipAvatar>account_circle_outline</mat-icon>

            <span>{{ (userAttributes$ | async)?.email }}</span>
        </button>
        <button mat-raised-button color="primary" (click)="signOut()" >Sign out</button>
    </nav>

}

<div class="container">

    <img src="assets/images/museum_alert_logo.svg" class="logo">
    <router-outlet></router-outlet>

</div>


