@use '@angular/material' as mat;
@use '../styles.scss' as theme;

.container {
    margin-top: 60px;
}
 
.auth-user-nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    //background-color: mat.get-color-from-palette(theme.$angular-electron-primary, 50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-user-email {
    margin: 20px;
}

button {
    margin: 2px 10px 2px auto;
}

.logo {
    max-width: 368px;
    display: block;
    margin: 100px auto 40px auto;
}










