<form [formGroup]="companyNameForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Company name</mat-label>
    <input matInput id="company-name" type="text" formControlName="companyName" #companyName>
    @if (companyNameForm.get('companyName')?.hasError('required') && companyNameForm.get('companyName')?.touched) {
      <mat-error>Company name is <strong>required</strong></mat-error>
    }
  </mat-form-field>

    <div class="button-cta">

      <button *ngIf="!isCompanyNameSet || isEditable"
              mat-raised-button color="primary"
              type="submit"
              [disabled]="companyNameForm.invalid || isBusy">
        <span class="button-content">
          Submit
          <mat-progress-spinner *ngIf="isBusy" mode="indeterminate" diameter="16"></mat-progress-spinner>
        </span>
      </button>

      <button *ngIf="isEditable"
        mat-raised-button color="secondary"
        [disabled]="isBusy"
        (click)="cancel()">
        <span class="button-content">
          Cancel
        </span>
      </button>


  </div>

  <button *ngIf="isCompanyNameSet && !isEditable"
          mat-raised-button color="primary"
          [disabled]="isBusy"
          (click)="edit()">
    <span class="button-content">
      Edit
    </span>
  </button>

</form>