<mat-card>

  <mat-card-header class="device-status">
    <h4>{{ 'COMPONENTS.DEVICE_CONTROL.LABEL' | translate }}
      <mat-spinner diameter="20" *ngIf="!(settings$ | async) || (isBusy$ | async)"></mat-spinner>
    </h4>
    <app-connection-status [deviceSN]="(serialNumber$ | async)!"></app-connection-status>
  </mat-card-header>

  <mat-card-content>

    <app-distance-slider></app-distance-slider>

    <app-beacon-url-form></app-beacon-url-form>

    <app-settings-table
      [data$]="settings$"
      [style.visibility]="(settings$ | async) ? 'visible' : 'hidden'"></app-settings-table>

  </mat-card-content>

</mat-card>
