<mat-card>
  <mat-card-header class="device-status">
    <h4>Device control
      <mat-spinner diameter="20" *ngIf="!(deviceService.configuration$ | async) || disabled"></mat-spinner>
    </h4>
    <mat-chip class="device-status-label" [disabled]="true">
      <span *ngIf="mqttService.devicesConnectionStatus$ | async">connected</span>
      <span *ngIf="!(mqttService.devicesConnectionStatus$ | async)">disconnected</span>
    </mat-chip>
  </mat-card-header>
  <mat-card-content>

    <div class="distance-slider">
      <span>{{ (minValue >= 100) ? minValue/100 : minValue }} {{ minValue >= 100 ? 'mt' : 'cm' }}</span>
      <mat-slider
        [min]="minValue" 
        [max]="maxValue" 
        step="1" 
        showTickMarks 
        discrete 
        [displayWith]="toReadableDistance.bind(this)" 
        [disabled]="disabled"
        (change)="onSliderChange($event)">
        <input matSliderThumb [(ngModel)]="sliderValue">
      </mat-slider>
      <span>{{ (maxValue >= 100) ? maxValue/100 : maxValue }} {{ maxValue >= 100 ? 'mt' : 'cm' }}</span>
    </div>
      <table [style.visibility]="(deviceService.configuration$ | async) ? 'visible' : 'hidden'" class="device-specs">
        <tr>
          <td class="device-spec-label">Firmware</td>
          <td class="device-spec-value">{{ (deviceService.configuration$ | async)?.firmware }}</td>
        </tr>
        <tr>
          <td class="device-spec-label">Minimum alarm distance</td>
          <td class="device-spec-value">{{ ((deviceService.configuration$ | async)?.distance) | formatDistance }}</td>
        </tr>
      </table>
  </mat-card-content>
</mat-card>
