@use '@angular/material' as mat;

mat-stepper {
    max-width: 800px;
    margin: auto;
    
}

.mat-horizontal-stepper-header-container {

    pointer-events: none;

}

h3 {

    text-align: center;
    font-weight: normal;
    mat-progress-spinner {
        display: inline-block !important;
        margin: 20px 0 0 0;

    }
}

.wait-message {
    color: mat.get-color-from-palette(mat.$grey-palette, 600);
}