@use '@angular/material' as mat;

mat-stepper {
    max-width: 800px;
    margin: auto;
    
}

.mat-horizontal-stepper-header-container {

    pointer-events: none;

}

.reset-container {
    .reset-button {
        display: flex;
        margin: auto;
    }
}

.button-content {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between text and spinner */
  }

h3 {

    text-align: center;
    font-weight: normal;
    mat-progress-spinner {
        display: inline-block !important;
        margin: 20px 0 0 0;

    }
}

.wait-message {
    color: mat.get-color-from-palette(mat.$grey-palette, 600);
}

.mat-horizontal-stepper-wrapper {
    .mat-horizontal-content-container {
        padding: 20px 0 0 0 !important;
        overflow: visible !important;
    }
}

.device-summary {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

app-device-control, app-device-diagnostics {
    display: flex;
    flex-direction: column;
    flex: 1;
    & mat-card {
        flex: 1;
    }
}

app-device-diagnostics {
    mat-card-content {
        height: 100%;
        display: flex !important;
        flex-direction: column-reverse;
    }
}

