<ng-container *ngIf="isVisible">
  <ng-container *ngIf="isReady; else communicating">
    <mat-stepper linear #stepper>
      <mat-step [editable]="false" label="Choose a WiFi network">
        <app-wifi-credentials></app-wifi-credentials>
      </mat-step>
      <mat-step [editable]="false" label="Provision device">
         <app-provisioning></app-provisioning>
      </mat-step>
      <mat-step [editable]="false" label="Register device">
        <h3>Your device is being registered; please wait...<br>
          <mat-progress-spinner *ngIf="isBusy" mode="indeterminate" diameter="16"></mat-progress-spinner>
        </h3>
      </mat-step>
      <mat-step [editable]="false" label="Done">
        <p>Your device has successfully been registered.</p>
      </mat-step>
    </mat-stepper>
  </ng-container>
  <ng-template #communicating>
    <h3 class="wait-message">Communicating; please wait...</h3>
  </ng-template>
</ng-container>


