<ng-container *ngIf="isVisible">
  
  <ng-container *ngIf="isReady; else communicating">

    <mat-stepper linear #stepper>
      
      <mat-step [editable]="false" label="Choose a WiFi network">
        <ng-template matStepContent>
          <div class="wifi-step">
            <app-wifi-credentials></app-wifi-credentials>
          </div>
        </ng-template>
      </mat-step>

      <mat-step [editable]="false" label="Provision device">
        <ng-template matStepContent>
          <div class="provisioning-step">
            <app-provisioning></app-provisioning>
          </div>
        </ng-template>
      </mat-step>
      
      <mat-step [editable]="false" label="Register device">
        <ng-template matStepContent>
            <div class="registration-step">
            <h3>Your device is being registered; please wait...</h3>
          </div>
        </ng-template>
      </mat-step>

      <mat-step [editable]="false" label="Done">
        <ng-template matStepContent>
          <div class="done-step">
            <h3>Your device has successfully been registered</h3>
            <div class="device-summary">
              <app-device-control></app-device-control>
              <app-device-diagnostics></app-device-diagnostics>
            </div>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>

</ng-container>

<ng-template #communicating>

  <ng-container *ngIf="hasFatalError; else waitMessage">
    <div class="reset-container">
      <h3 class="error-message">An error occurred: please reset your device</h3>
      <button mat-raised-button color="primary" type="button" (click)="reset()" class="reset-button" [disabled]="isRequestingReset">
        <span class="button-content">
        Reset
        <mat-progress-spinner *ngIf="isRequestingReset" mode="indeterminate" diameter="16"></mat-progress-spinner>
      </span>
      </button>
      
    </div>
  </ng-container>

  <ng-template #waitMessage>
    <h3 class="wait-message">Communicating; please wait...</h3>
  </ng-template>

</ng-template>


