
<a mat-raised-button color="secondary" class="back-button" [routerLink]="['/device']">
    <mat-icon matSuffix>arrow_back</mat-icon>
    Back
</a>

<mat-card>

  <mat-card-header>
    <mat-card-subtitle>Your Organisation</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    @if (!(company$ | async)?.companyName) {
        <mat-card class="warning-card" appearance="outlined">
          <mat-card-content>
            <div class="warning-content">
              <mat-icon class="warning-icon">warning</mat-icon>
              <span class="warning-text">It appears that you have not set up your profile yet: please enter a company name.</span>
            </div>
          </mat-card-content>
        </mat-card>
    }
    
    <app-company-form></app-company-form>

    <mat-card-subtitle>Members</mat-card-subtitle>

    @if ((company$ | async)?.members) {

      <table mat-table [dataSource]="(company$ | async)!.members" class="mat-elevation-z8">

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let member">
              {{member.email}}
              @if (member.email === loginId) {
                <span class="same-user-indicator">you</span>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let member"> {{member.role}} </td>
          </ng-container>

          <ng-container matColumnDef="joined">
            <th mat-header-cell *matHeaderCellDef> Joined </th>
            <td mat-cell *matCellDef="let member"> {{member.joinedAt | date:'short'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    }
    
  </mat-card-content>

</mat-card>


