@use '@angular/material' as mat;
@use '../../styles.scss' as theme;

:host {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto 0 auto;
}

.back-button {
    margin-left: auto;
}

mat-card {
    margin-top: 20px;
}

mat-list-item {
    height: auto !important;
    padding: 20px 0;
}

.warning-card {

    background-color: red;
    color: white;
    margin: 0 0 20px 0;
    text-wrap: wrap;

    mat-icon {
        vertical-align: bottom;
        margin-right: 10px;
    }
}