/*

--mat-sys-primary (main brand color)
--mat-sys-on-primary (text/icons on primary)
--mat-sys-primary-container
--mat-sys-secondary
--mat-sys-tertiary
--mat-sys-surface (background colors)
--mat-sys-on-surface (text on surfaces)
--mat-sys-outline
--mat-sys-error

Typography System Variables:

--mat-sys-display-large/medium/small
--mat-sys-headline-large/medium/small
--mat-sys-title-large/medium/small
--mat-sys-body-large/medium/small
--mat-sys-label-large/medium/small

Elevation System Variables:

--mat-sys-level0 through --mat-sys-level5 (box-shadow values)

https://m3.material.io/theme-builder

*/

body {
    min-height: auto !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
