<amplify-authenticator [hideSignUp]="false"
                       [loginMechanisms]="['email']">

  <ng-template amplifySlot="sign-up-form-fields">
    <amplify-sign-up-form-fields></amplify-sign-up-form-fields>
    <amplify-text-field
        label="Your Company's Name"
        autocomplete="false"
        placeholder="Your Company's name"
        name="custom:Company"
        type="text"
        (input)="change($event)"
        pattern="\ciao\gi">
    </amplify-text-field> 
    <label>Your Company's ID on Museum Alert</label>
    <input type="text" class="company-name-preview" disabled #companyNamePreview>
  </ng-template>

  <ng-template amplifySlot="footer">
    <div style="padding: var(--amplify-space-large); text-align: center">
      <p class="amplify-text" style="color: var(--amplify-colors-neutral-80)">
        © Andrea Blasio, 2023 - 2025. All Rights Reserved
      </p>
    </div>
  </ng-template>

</amplify-authenticator>



