<div class="container">
  
  <!-- <p class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </p> -->
  
  @if (authenticatorService.route === 'authenticated') {

    <app-device></app-device>

  }

<amplify-authenticator [hideSignUp]="false" [loginMechanisms]="['email']">

  <ng-template amplifySlot="sign-up-form-fields">
    <amplify-sign-up-form-fields></amplify-sign-up-form-fields>
    <amplify-text-field
        label="Company"
        autocomplete="false"
        placeholder="Your Company's name"
        name="custom:Company"
        type="text">
    </amplify-text-field>
  </ng-template>

  <!--

  <ng-template amplifySlot="verify-user-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Enter Information:
    </h3>
  </ng-template>

  <ng-template amplifySlot="verify-user-footer">
    <div>Footer Information</div>
  </ng-template>
  <ng-template amplifySlot="confirm-verify-user-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Enter Information:
    </h3>
  </ng-template>

  <ng-template amplifySlot="confirm-verify-user-footer">
    <div>Footer Information</div>
  </ng-template>

  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >

    

  </ng-template>

-->

</amplify-authenticator>

</div>

