<amplify-authenticator [hideSignUp]="false"
                       [loginMechanisms]="['email']">

  <ng-template amplifySlot="sign-up-form-fields">

    <input 
      type="hidden" 
      name="custom:isProfessional" 
      value="1">

    <amplify-sign-up-form-fields></amplify-sign-up-form-fields>

  </ng-template> 

  <ng-template amplifySlot="footer">
    <div style="padding: var(--amplify-space-large); text-align: center">
      <p class="amplify-text" style="color: var(--amplify-colors-neutral-80)">
        © Andrea Blasio, 2023 - 2025. All Rights Reserved
      </p>
    </div>
  </ng-template>

</amplify-authenticator>



