@use '@angular/material' as mat;

mat-card {
    max-width: 800px;
    margin: auto
}

mat-card-footer {
    padding: 16px;
}

mat-chip {
    pointer-events: none;
    user-select: none; /* optional: prevents text selection */  
}

h3 {
    text-align: center;
    margin: 0 auto;
    font-weight: normal;
}

.device-status {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    h4 {
        margin: 0;
    }
}

.device-status-label {
    margin-left: auto;
}

.device-specs {

    border-spacing: 0;
    width: 100%;
    margin: 10px 0;

}

.device-specs tr td {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.device-specs tr:last-child td {
    border-bottom: none;
}

.device-spec-value {

    font-family: 'Courier New', Courier, monospace;
    
}